.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
}

.red {
    background-color: #730A13;
}

.blue{
    background-color: #0087BF;
}

.green{
    background-color: #467302;
}

.yellow{
    background-color: #F2CB05;
}